@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pencilBanner {
  width: 100%;
  height: 30px;
  background-image: url("./assets/pencilBg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-size: 12px;
  position: relative;
  z-index: 3;
}

.shopNow{
  color:black;
  text-decoration: none;
}

.shopNow:hover{
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 190px;
  background-image: url("./assets/Header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logoContainer {
  position: relative;;
}

.logoContainer::before {
  content: "";
  position: absolute;

  width: 350px;
  height: 300px;
  left: -300px;
  background: url("./assets/header/lion.png") no-repeat center/contain;
  transform: scaleX(-1);
  bottom:-180px;
}

.logoContainer img {
  width: 160px; 
  margin-left: 30px;
}

.logoContainer::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  right: -140px;
  top: -20px;
  background: url("./assets/header/giraffe.png") no-repeat center/contain;
  bottom: -10px;
}
.searchBar {
  position: relative;
  margin-right: 20px;
}

.searchBar input {
  width: 400px;
  padding: 10px 40px 10px 15px;
  border: 1px solid rgb(7, 7, 158);
  border-radius: 25px;
  transition: all 0.3s ease;
  background: white;
  border-radius: 3px;
}

.searchBar input:focus {
  border-color: #f19b3a;
  outline: none;
  border-width: 2px;
}

.searchBar input:hover {
  border-color: #f19b3a;
  border-width: 2px;
}

.searchBar i {
    color: #a0b817;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.searchBar::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  background: url("./assets/header/search-monkey.png") no-repeat center/contain;
  left: -100px;
  top: -60px;
}

.contact{
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}

.account{
  display: flex;
  justify-content: center;
  align-items:center;
  gap:6px;
}

.account div{
  display: flex;
  gap:2px;
  justify-content: center;
  align-items: center;
}

.account div i{
  color: #f19b3a;
  font-size: 12px;
}

.cart{
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.cartContainer {
  position: relative; 
  display: inline-block;
}
.cartContainer img{
  width: 60px;
  display: block;
}

.cartContainer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%); 
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.cartContainer::after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: url("./assets/header/frog.png") no-repeat center/contain;
  transform: scaleX(-1);
  bottom: -285px;
  left: -410px;
}

.navButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -25px; /* sits nicely on grass */
}

.navContainer {
  display: flex;
  align-items: center;
  margin-top: -60px;
}

.navItemContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.shop-all-a {
  align-items: center;
  gap: 7px;
  background-color: #bc1500;
  clip-path: polygon(100% 16%, 100% 100%, 0 100%, 0 0);
  width: 140px;
  padding: 17.75px 0 16px 0;
  left: 180px;
  bottom: 10px;
}

.home-a {
  background-color: #6737a4;
  clip-path: polygon(100% 26%, 100% 100%, 0 100%, 0 0);
  padding: 20px 0 16px 0;
}

.boys-a {
  background-color: #3479ba;
  clip-path: polygon(100% 17%, 100% 100%, 0 100%, 0 0);
  padding: 14px 0 16px 0;
}

.girls-a {
  background-color: #0c9ab6;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 42%);
  padding: 22.75px 0 16px 0;
}

.unisex-a {
  background-color: #91b904;
  clip-path: polygon(100% 18%, 100% 100%, 0 100%, 0 0);
  padding: 14.75px 0 16px 0;
}

.brands-a {
  background-color: #ddcf00;
  clip-path: polygon(57% 0, 100% 9%, 100% 100%, 0 100%, 0 14%);
  padding: 20.75px 0 16px 0;
}

.about-a {
  background-color: #ff790a;
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
  padding: 13.75px 0 16px 0;
}

.contact-a {
  background-color: #ee155e;
  clip-path: polygon(49% 0, 100% 18%, 100% 100%, 0 100%, 0 15%);
  padding: 15.75px 0 16px 0;
}

.main-nav-item a {
  text-decoration: none; 
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;

    font-size: 13px;
  min-width: 90px;
  padding: 10px 0;


}

.main-nav {
  display: flex;
  align-items: flex-end;
  gap: 0;
}

.main-nav-item {
  display: flex;
}